{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}


{% block actionbar %}{% endblock %}

{% block content %}

{% if dataGrid %}
  {{ macro.dataGrid(dataGrid) }}
{% endif %}

{% if categorys or elements  %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      {% if categorys %}
        {% for item in categorys %}
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.title}}</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        {% endfor %}
      {% endif %}

      {% if categorys %}
        {% for item in elements %}
          <tr>
            <th scope="row">{{item.id}}</th>
            <td>{{item.title}}</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        {% endfor %}
      {% endif %}
      
    </tbody>
  </table>
  {% endif %}

{%include "EnerIblocks/Layout/Templates/js.html.twig" %}
{% endblock %}
