{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% form_theme form "Layout/Templates/FormLayout.html.twig" %}

{% block actionbar %}

{% endblock %}

{% block content %}
{{ form_start(form) }}
<div class="row fork-module-content">
    <div class="col-md-12">
      <div class="form-group">
        {{ form_row(form.title) }}
        </a>
      </div>
    </div>
  </div>

<div class="row fork-module-content">
  <div class="col-md-12">
    <div>
      <ul class="nav nav-tabs nav-tabs-flex" role="tablist">
        <li role="presentation" class="active mr-auto">
          <a href="#tabContent" aria-controls="tabContent" role="tab"
             data-toggle="tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tabContent">
          <div class="row">
            {{ form_row(form.code) }}
          </div>
        </div>
      </div>


      <div class="btn-group pull-left" role="group">
        <a class="btn btn-primary" href="{{geturl('category_type_index')}}" role="button">Отмена</a>
      </div>

    <div class="btn-toolbar">
      <div class="btn-group pull-right" role="group">
        <button id="addButton" type="submit" name="add" class="btn btn-primary">
          <span class="fa fa-plus-square"></span>Сохранить
        </button>
      </div>
    </div>

{{ form_end(form) }}

{%include "EnerIblocks/Layout/Templates/js.html.twig" %}
{% endblock %}
