{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}


{% block actionbar %}{% endblock %}

{% block content %}
<style>
  .cls_delButton{
    background: transparent;
    font-size: 15px;
    border: 0;
    margin-left: 13px;
  }
</style>

{% if dataGrid %}
  {{ macro.dataGrid(dataGrid) }}
{% else %}
{# TODO:  добавить перевод #}
<div class="row fork-module-content">
    <div class="col-md-12">
      <div class="form-group">
          <a class="btn btn-primary" href="{{geturl('category_easy_add')}}&cat={{get_cat}}&cti={{get_cti}}" role="button">Добавить категорию</a>
          <a class="btn btn-primary" href="{{geturl('category_element_add')}}&cat={{get_cat}}&cti={{get_cti}}" role="button">Добавить элемент</a>
        </a>
      </div>
    </div>
  </div>

{% endif %}

{% if categorys or elements  %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" style="width: 10px;"></th>
        <th scope="col">Название</th>
        <th scope="col">ID</th>
        <th scope="col">Активность</th>
        <th scope="col">Сортировка</th>
        <th scope="col">Дата создания</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{{geturl('level_back')}}&cat={{get_cat}}&cti={{get_cti}}" title="Назад">...</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
      {% if categorys %}
        {% for item in categorys %}
          <tr>
            <td>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
                      <img src="/src/Backend/Modules/EnerIblocks/Img/list.png">
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a href="{{geturl('category_easy_edit')}}&id={{item.id}}&cti={{get_cti}}&cat={{get_cat}}" role="menuitem" tabindex="-1">{{'lbl.Edit'|trans|ucfirst}}</a></li>
                        <li role="presentation"><input class="cls_delButton" value="{{'lbl.Delete'|trans|ucfirst}}" type="button" onclick="javascript:if(confirm('Действительно удалить ?')) document.location = '{{geturl('category_easy_delete')}}&id={{item.id}}&cti={{get_cti}}&cat={{get_cat}}'"></li>

                        <!-- <li role="presentation"><a href="" role="menuitem" tabindex="-1">{{'lbl.Copy'|trans|ucfirst}} (пока не работает)</a></li> -->
                      </ul>
                  </div>
            </td>
            <td><img src="/src/Backend/Modules/EnerIblocks/Img/dir.png"> <a href="{{geturl('category_element_index')}}&cat={{item.id}}&cti={{get_cti}}">{{item.title}}</a></td>
            <th scope="row">{{item.id}}</th>
            <th scope="row">{% if item.active == 1 %}Да{% else %}Нет{% endif %}</th>
            <th scope="row">{{item.sort}}</th>
            <th scope="row">{{item.date}}</th>
          </tr>
        {% endfor %}
      {% endif %}

      {% if elements %}
        {% for item in elements %}
          <tr>
            <td>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
                      <img src="/src/Backend/Modules/EnerIblocks/Img/list.png">
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><a href="{{geturl('category_element_edit')}}&id={{item.id}}&cat={{get_cat}}&cti={{get_cti}}" role="menuitem" tabindex="-1">{{'lbl.Edit'|trans|ucfirst}}</a></li>
                      <li role="presentation"><input class="cls_delButton" value="{{'lbl.Delete'|trans|ucfirst}}" type="button" onclick="javascript:if(confirm('Действительно удалить ?')) document.location = '{{geturl('category_element_delete')}}&id={{item.id}}&cat={{get_cat}}&cti={{get_cti}}'"></li>
                      <!-- <li role="presentation"><a href="{{geturl('category_element_activate')}}&id={{item.id}}&cat={{get_cat}}&cti={{get_cti}}" role="menuitem" tabindex="-1">{{'lbl.Active'|trans|ucfirst}} (пока не работает)</a></li> -->
                      <!-- <li role="presentation"><a href="" role="menuitem" tabindex="-1">{{'lbl.Copy'|trans|ucfirst}} (пока не работает)</a></li> -->
                    </ul>
                  </div>
            </td>
            <td><img src="/src/Backend/Modules/EnerIblocks/Img/files.png"> {{item.title}}</td>
            <th scope="row">{{item.id}}</th>
            <th scope="row">{% if item.active == 1 %}Да{% else %}Нет{% endif %}</th>
            <th scope="row">{{item.sort}}</th>
            <th scope="row">{{item.date}}</th>
          </tr>
        {% endfor %}
      {% endif %}
      
    </tbody>
  </table>
  {% endif %}

{%include "EnerIblocks/Layout/Templates/js.html.twig" %}
{% endblock %}
