{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}


{% block actionbar %}{% endblock %}

{% block content %}

{% if dataGrid %}
  {{ macro.dataGrid(dataGrid) }}
{% endif %}

{% if categorys or elements  %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      {% if categorys %}
        {% for item in categorys %}
          <tr>
            <td><img src="/src/Backend/Modules/EnerIblocks/Img/list.png"></td>
            <th scope="row">{{item.id}}</th>
            <td><img src="/src/Backend/Modules/EnerIblocks/Img/dir.png"> {{item.title}}</td>
            <td>
                jm
            </td>
          </tr>
        {% endfor %}
      {% endif %}

      {% if categorys %}
        {% for item in elements %}
          <tr>
            <td><img src="/src/Backend/Modules/EnerIblocks/Img/list.png"></td>
            <th scope="row">{{item.id}}</th>
            <td><img src="/src/Backend/Modules/EnerIblocks/Img/files.png"> {{item.title}}</td>
            <td><div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="RU" aria-haspopup="true">
                  <span class="dropdown-text">Русский</span>
                  <span class="dropdown-angle">  <span class="fa fa-angle-right" aria-hidden="true"></span>
  </span>
                </a>
                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">
                      <a href="/private/en/ener_iblocks?token=lc1k95islm" role="menuitem" tabindex="-1">Английский</a>
                    </li>
                                    <li class="active" role="presentation">
                      <a href="/private/ru/ener_iblocks?token=lc1k95islm" role="menuitem" tabindex="-1">Русский</a>
                    </li>
                                </ul>
              </div></td>
          </tr>
        {% endfor %}
      {% endif %}
      
    </tbody>
  </table>
  {% endif %}

{%include "EnerIblocks/Layout/Templates/js.html.twig" %}
{% endblock %}
