{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% form_theme form "Layout/Templates/FormLayout.html.twig" %}

{% block actionbar %}

{% endblock %}

{% block content %}
{{ form_start(form) }}
<div class="row fork-module-content">
    <div class="col-md-12">
      <div class="form-group">
        {{ form_row(form.title) }}
        </a>
      </div>
    </div>
  </div>

<div class="row fork-module-content">
  <div class="col-md-12">
    <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active mr-auto">
          <a href="#tabContent" aria-controls="tabContent" role="tab"
             data-toggle="tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
        </li>
        <li role="presentation">
          <a href="#tabdesc" aria-controls="tabdesc" role="tab" data-toggle="tab">{{ 'lbl.Description'|trans|ucfirst }}</a>
        </li>
        <li role="presentation">
          <a href="#tabimage" aria-controls="tabimage" role="tab" data-toggle="tab">{{ 'lbl.image'|trans|ucfirst }}</a>
        </li>
        <li role="presentation">
          <a href="#tabMeta" aria-controls="tabMeta" role="tab" data-toggle="tab">{{ 'lbl.Meta'|trans|ucfirst }}</a>
        </li>
        <li role="presentation">
          <a href="#tabInfo" aria-controls="tabInfo" role="tab" data-toggle="tab">{{ 'lbl.ENInfo'|trans|ucfirst }}</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tabContent">
          <div class="row">
            {{ form_row(form.active) }}
            {{ form_row(form.sort) }}
            {{ form_row(form.code) }}
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tabdesc">
            <div class="row">
                {{ form_row(form.description) }}
            </div>
          </div>

        <div role="tabpanel" class="tab-pane" id="tabimage">
          <div class="row">
              {{ form_row(form.image) }}
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tabMeta">
          <div class="row">
              {{ form_row(form.cmeta) }}
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tabInfo">
          <div class="row">
              {{ form_row(form.id) }}
              {{ form_row(form.creator_user_id) }}
              {{ form.vars.value.editor_user_id }}
                {{ form_row(form.editor_user_id) }}
                <hr>

                {{ form_row(form.date) }}
                {{ form_row(form.edited_on) }}
                
                <hr>
          </div>
        </div>
  
      </div>
  




<div class="btn-toolbar">
    {% if form.vars.value.id > 0 %}
      <div class="btn-group pull-left" role="group">
        <button type="button" class="btn btn-danger" id="blog-delete" data-toggle="modal"
                data-target="#confirmDelete">
          <span class="fa fa-trash-o"></span>
          Удалить
        </button>
      </div>
    {% endif %}
    <div class="btn-group pull-right" role="group">
      <button id="addButton" type="submit" name="add" class="btn btn-primary">
        <span class="fa fa-plus-square"></span>Сохранить
      </button>
    </div>
  </div>
{{ form_end(form) }}


{{ form_start(deleteForm) }}
  {{ form_row(deleteForm._token) }}
  {{ form_row(deleteForm.id) }}
  <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteTitle">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmDeleteTitle"></h4>
        </div>
        <div class="modal-body">
          <p>Вы уверены что хотите удалить Тип инфоблока?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button type="submit" class="btn btn-danger">
            <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(deleteForm) }}

{%include "EnerIblocks/Layout/Templates/js.html.twig" %}
{% endblock %}
