{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}


{% block actionbar %}{% endblock %}

{% block content %}
{% form edit %}
<div class="row fork-module-content">
  <div class="col-md-12">
    <div>
      <ul class="nav nav-tabs nav-tabs-flex" role="tablist">
        <li role="presentation" class="active mr-auto">
          <a href="#tabContent" aria-controls="tabContent" role="tab"
             data-toggle="tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
        </li>
        <li role="presentation">
          <a href="#tabSEO" aria-controls="tabSEO" role="tab" data-toggle="tab">{{ 'lbl.SEO'|trans|ucfirst }}</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tabContent">
          <div class="row">
              <label for="title" class="control-label">Заголовок{{ macro.required }}</label>
          </div><br/>

          <div class="row">
              <label for="title" class="control-label">Заголовок 2 {{ macro.required }}</label>
          </div>

          <div class="row">
            
            {% for key, item in obj_label %}
              <label for="title" class="control-label">{{item}}{{ macro.required }}</label>
            {% endfor %}


            <input type="hidden" id="json_shema" value='{"title":"Person", "type":"object","properties":{"name":{"type":"string","description":"First and Last name","minLength":4,"default":"Jeremy Dorn"}}}'>
            <div id="editor_holder"></div>
            <div id="editor"></div>

            <div class="row">
              {{tree|raw}}
            </div>
        


        </div>
  
      </div>
  
      <div role="tabpanel" class="tab-pane" id="tabSEO">
        <div class="row">
          {# {{ form_row(form.meta) }} #}
        </div>
      </div>



<div class="btn-toolbar">
    {% if form.vars.value.id > 0 %}
      <div class="btn-group pull-left" role="group">
        <button type="button" class="btn btn-danger" id="blog-delete" data-toggle="modal"
                data-target="#confirmDelete">
          <span class="fa fa-trash-o"></span>
          Удалить
        </button>
      </div>
    {% endif %}
    <div class="btn-group pull-right" role="group">
      <button id="addButton" type="submit" name="add" class="btn btn-primary">
        <span class="fa fa-plus-square"></span>Сохранить
      </button>
    </div>
  </div>
  {% endform %}


{%include "EnerIblocks/Layout/Templates/js.html.twig" %}
{% endblock %}
