{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}
  {% if showContentBlocksAdd %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
      {{ macro.buttonIcon( geturl('order_index'), '', 'lbl.Cancel'|trans|ucfirst) }}
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
{% form edit %}


<div class="row fork-module-content">
  <div class="col-md-12">
    <h2>Заказ № {{ order_number }}</h2>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">ID ({{order_id}}) | Создан: {{order_date_create}} | Статус заказа: {{order_status}}</div>
          <div class="panel-body">
              <div class="col-md-4">
                  ФИО: {{user_fio}}</br>
                  Email: {{user_email}}</br>
                  Телефон: {{user_phone}}</br>
              </div>
              <div class="col-md-4">
                  Стоимость доставки: {{price_delivery}} руб.</br>
                  Общая стоимость: {{price}} руб.</br>
              </div>
              <div class="col-md-4">

              </div>
          </div>
        </div>
      </div>
    </div>

    <!--  -->

    <div class="row">
      <div class="col-md-12">
        <div>
          <ul class="nav nav-tabs nav-tabs-flex" role="tablist">
            <li role="presentation" class="active">
              <a href="#tabContent" aria-controls="tabContent" role="tab" data-toggle="tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
                <a href="#description" aria-controls="description" role="tab" data-toggle="tab">{{ 'lbl.Description'|trans|ucfirst }}</a>
              </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tabContent">
              <div class="row">
                <div class="col-md-8">
                  <div class="panel panel-default">
                      <div class="panel-heading"><h2>Основное</h2></div>
                      <div class="panel-body">
                        dfgh
                      </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!--  -->
            <div role="tabpanel" class="tab-pane active" id="description">
              <div class="row">
                <div class="col-md-8">
                  <div class="panel panel-default">
                      <div class="panel-heading"><h2>Основное</h2></div>
                      <div class="panel-body">
                        dfgh 12345
                      </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endform %}

  {# {{ form_start(deleteForm) }}
  {{ form_row(deleteForm._token) }}
  {{ form_row(deleteForm.id) }}
  <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteTitle">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmDeleteTitle"></h4>
        </div>
        <div class="modal-body">
          <p>Вы уверены что хотите удалить?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button type="submit" class="btn btn-danger">
            <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(deleteForm) }} #}
{% endblock %}
