{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}
{% form_theme form "Layout/Templates/FormLayout.html.twig" %}

{% block actionbar %}
  {% if showContentBlocksAdd %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
      {{ macro.buttonIcon( geturl('index'), 'plus-square', 'lbl.Add'|trans|ucfirst) }}
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% include "EnerSliders/Layout/Templates/FormAddEdit.html.twig" %}

  {{ form_start(deleteForm) }}
  {{ form_row(deleteForm._token) }}
  {{ form_row(deleteForm.id) }}
  <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteTitle">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmDeleteTitle"></h4>
        </div>
        <div class="modal-body">
          <p>Вы уверены что хотите удалить слайдер?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button type="submit" class="btn btn-danger">
            <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(deleteForm) }}
{% endblock %}
