
<h3>Товары</h3>
{% for item in basket.list %}
<span>{{item.title}}  {{item.quantity}} кол.  Цена:{{item.item_price}}</span> <br/>
{% endfor %}


<button  class="create_order">Оформить заказ {{basket.sum_price}}</button>

<br/>
<br/>
<h3>способ доставки</h3>
{% for item in delivery_list %}
{{item.title}}
<input type="checkbox" class="delivery" value="{{item.id}}">
{% endfor %}

<br/>
<br/>
<h3>способ оплаты</h3>
{% for item in pay_list %}
{{item.title}}
<input type="checkbox" class="pay_system" value="{{item.id}}"><br/>
{% endfor %}

<br/>
<br/>
<h3>ФИО</h3>
<label>Имя</label>
<input type="text" class="user_fname" ><br/>
<label>Фамилия</label>
<input type="text" class="user_sname" ><br/>
<label>Отчество</label>
<input type="text" class="user_pname" ><br/>

<br/>
<br/>
<h3>Контактные данные</h3>
<label>Адрес</label>
<input type="text" class="user_address" ><br/>
<label>Телефон</label>
<input type="text" class="user_phone" ><br/>
<label>Почта</label>
<input type="text" class="user_email" ><br/>

<br/>
<br/>
<h3>Комментарий к заказу</h3>
<textarea class="order_message"></textarea>

<br/>
<br/>
{% if not statususer %}
<h3>Согласие на обработку ПД</h3>
<label>Согласен</label>
<input type="checkbox" value="1" class="personal_data">
{% endif %}
<script>
// FIXME: если что-то надо поправить, то пишем ТОЛЬКО на JAVASCRIPT, не на jquery
var OrderCreate = function() { 

  var request = function() {

    //TODO: перередать на fetch или на xmlhttprequest
    $.ajax({
          url: '/frontend/ajax',
          type: 'POST',
          data: {
            fork: { module: 'EnerShop', action: 'CreateOrder' },
            delivery_id:getDeliverySystem(),
            pay_id:getPaySystem(),
            user_fname:getUserFname(),
            user_sname:getUserSname(),
            user_pname:getUserPname(),
            user_address:getUserAddress(),
            user_phone:getUserPhone(),
            user_email:getUserEmail(),
            order_comment:getOrderComment(),
            personal_data:getPersonalData(),
          },
          success: function(data) {
            console.log(data);
            // location.reload();
          }
        });
  }


  var getPaySystem = function(){
    var div = document.getElementsByClassName('pay_system');
    for(var i = 0; i < div.length; i++){
      if(div[i].checked){
        return div[i].value
      }
    }

    return undefined;
  }

  var getDeliverySystem = function(){
    var div = document.getElementsByClassName('delivery');
    for(var i = 0; i < div.length; i++){
      if(div[i].checked){
        return div[i].value
      }
    }

    return undefined;
  }

  var getPersonalData = function(){
    var div = document.getElementsByClassName('personal_data');
    if(div != undefined){
      for(var i = 0; i < div.length; i++){
        if(div[i].checked){
          return div[i].value
        }
      }
  
      return undefined;
    }
  }

  var getUserFname = function(){
    return document.getElementsByClassName('user_fname')['0'].value;
  }

  var getUserSname = function(){
    return document.getElementsByClassName('user_sname')['0'].value;
  }

  var getUserPname = function(){
    return document.getElementsByClassName('user_pname')['0'].value;
  }

  var getUserAddress = function(){
    return document.getElementsByClassName('user_address')['0'].value;
  }

  var getUserPhone = function(){
    return document.getElementsByClassName('user_phone')['0'].value;
  }

  var getUserEmail = function(){
    return document.getElementsByClassName('user_email')['0'].value;
  }

  var getOrderComment = function(){
    return document.getElementsByClassName('order_message')['0'].value;
  }

  var initButtonSetNewOrder = function(){
    var div = document.querySelectorAll('.create_order'),result;
    for (var i = 0; i < div.length; i++) {
        result = div[i];
        result.addEventListener('click', function() {

            // if(getDeliverySystem() == undefined || getDeliverySystem() == '' ){
            //   console.error('не выбран способ доставки');
            //   return;
            // }

            // if(getPaySystem() == undefined || getPaySystem() == ''){
            //   console.error('не выбран способ оплаты');
            //   return;
            // }
            request();

        });
    }
  }

  return {
      init: function() {
          initButtonSetNewOrder();
      }
  };

}();

document.addEventListener("DOMContentLoaded", function() {
  OrderCreate.init();
});
</script>

<br/>
{{dump(basket)}}
<br/>
{{dump(delivery_list)}}
<br/>
{{dump(pay_list)}}

<br/>
{{dump(profile)}}
<br/>
{{dump(statususer)}}
